/* Layout */

/* More Container */
.more-container {
    width: 100%;
    max-width: 681px;
    border: 1px solid var(--color-border);
}

/* Grid Items */
.more-boxs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 32px;
}

.more-box {
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 195px;
    height: 56px;
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 16px;
}

.more-box:hover {
    color: var(--color-text);
    background-color: #d4d4d4;
}

/* Two Boxes Section */
.two-boxs {
    display: flex;
    padding: 32px;
    gap: 16px;
}

/* Responsive */
@media (max-width: 768px) {
  .right-side-bar {
    display: none;
  }
  .post-contents {
    width: 100%;
  }
}
@media (max-width: 639px) {

    .main {
      justify-content: space-between;
        flex-direction: column;
    }


  .empty-space-fake{
    height: 700px;
  }

  .btn-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
