/* Root Variables */
:root {
  /* Colors */
  --color-primary: #FADC00;
  --color-accent: #FFF6DB;
  --color-background: #E5E5E5;
  --color-text-primary: oklch(0% 0 0);
  --color-link: #FFF6DB;
  --color-white: #FFFFFF;
  --color-gray-400: #404040;
  --color-border: #E5E5E5;
  --lable-bg-color: color(srgb 0.93694 0.964035 0.998872)   ;
  --lable-text: oklch(0.623 0.214 259.815);

  /* Typography */
  --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-size-base: 16px;

  /* Spacing */
  --spacing-unit: 4px;
  --border-radius: 3px;
  --border-radius-pill: 9999px;

  /* Input */
  --input-bg: transparent;
  --input-text: #000000;
  --input-radius: 0px;

  /* Button */
  --btn-primary-bg: #FFFFFF;
  --btn-primary-text: #404040;
  --btn-primary-border: #E5E5E5;
  --btn-primary-radius: 9999px;
}
/* Root Variables */

/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-text-primary);
  background-color: var(--color-white);
  line-height: 1.5;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  color: var(--color-text-primary);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Inputs */
input,
textarea,
select {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background: var(--input-bg);
  color: var(--input-text);
  border: 1px solid var(--color-border);
  border-radius: var(--input-radius);

}

/* Buttons*/
.btn-primary {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  border: 1px solid var(--btn-primary-border);
  cursor: pointer;
}


.btn-primary:hover {
  background-color: #f5f5f5;
}

.hover-btn:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.btn-active:hover {
  opacity: 1;
}

.btn-not-active{
  opacity: 0.7;
}

.hover-btn-opacity:hover {
  opacity: 0.9;
  cursor: pointer;
}

.text-underline:hover{
  margin-right: none;
  text-decoration: underline;
}

/* Layout */
.main-container {
  display: flex;
  flex-direction: row;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Sidebar */
.sidebar {
  width: 100%;
  max-width: 68px;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 16px 8px 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.side-nav img {
  width: 28px;
  height: 28px;
}

.side-nav {
  display: flex;
  flex-direction: column;
}

.side-nav-btn {
  gap: 6px;
  display: flex; 
  align-items: center;
  flex-direction: column;
}

.home, .notifications, .email, .posts, .pro, .video, .search, .three-do {
  padding: 8px 12px 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:12px;
}

.side-nav svg {
  width: 28px;
  height: 28px;
  color: black;
}

.join-member {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.join {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  border-radius: 12px;
  color: var(--color-text-primary);
  background-color: var(--color-primary);
}

.join:hover {
  text-decoration: none;
  background-color: #f1d60b;

}

.join,.acces-key {
  cursor: pointer;
  padding: 8px 12px 8px 12px;
}

.acces-key:hover {
  background-color: oklch(0.87 0 0);
}

.acces-key {
  border-radius: 12px;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.acces-key svg {
  color: oklch(0.269 0 0);
  width: 20px;
  height: 20px;
}

/* Post */

/* Post Contents Container */
.post-contents {
  width: 681px;
  display: flex;
  flex-direction: column;
}

.post {
  max-width: 681px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 0px 16px 0px;
  gap: 10px;
}

/* Post Header */
.post-header {
  gap: 10px;
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.profile-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.profil {
  position: relative;
  width: 40px;
  height: 40px;
}

/* Profile Hover Card */
.pf-hover {
  display: none;
  width: 288px;
  position: absolute;
  top: 60px;
  left: -65%;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 16px;
  z-index: 100000000000000000;
}

.profil:hover + .pf-hover,
.pf-hover:hover {
  display: flex;
  flex-direction: column;
}

.pf-hover::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
}

.pf-hover-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pf-hover-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.follow-btn {
  font-weight: 700;
  background-color: #000000;
  display: inline;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  padding: 8px 16px 8px 16px;
  border-radius: var(--border-radius-pill);
}

.follow-btn:hover {
  cursor: default;
  opacity: 0.8;
}

.pf-hover-name > .name {
  display: flex;
  align-items: start;
  font-size: 18px;
  font-weight: 700;
}

.pf-hover-name > .name .pro-lable {
  margin-left: 5px;
}

.pf-hover-name > .bio {
  color:oklch(0.556 0 0);
  line-height: 20px;
}

.pf-hover-body {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
}

.pf-hover-body span a {
  color: #0066ff;
}

.profil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name-bio{
  display: flex;
  flex-direction: column;
}

.name{
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.pro-lable {
  padding: 2px 3px 2px 3px;
  height: 13.59px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6px;
  border-radius: 3px;
  background-color: oklch(0.902 0.063 306.703);
  color:  oklch(0.496 0.265 301.924);
}

.bio{
  font-weight: 400;
  color: gray;
  font-size: 16px;
}

/* Three Dot Menu */
.three-dot-post {
  position: relative;
}

.three-dot-post svg {
  position: relative;
  opacity: 0.3;
  width: 32px;
  height: 32px;
  padding: 8px;
  align-items: start;
  vertical-align: top;
  border-radius: 50%;
}

.three-dot-post svg:hover {
 background-color:   oklch(0.87 0 0);

}

.three-dot-click  {
  font-size: 14px;
  position: absolute;
  display: none;
  flex-direction: column;
  width: 144px;
  top: 70%;
  right: 20%;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100000000;
}

.three-dot-click.active {
  display: flex;
}

.mute,.smiliar-tool,.share,.report {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
}

.mute svg,.smiliar-tool svg ,.share svg,.report svg{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  opacity: 1;
  color: black;
}

.mute span{
  display: inline-block; 
}

/* Post Body */
.post-body{
  padding: 0 16px 0 66px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.post-text {
  gap: 10px;
  color: var(--color-text-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.post-text > img,
.post-text .lable > img {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.verify {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: oklch(0.723 0.219 149.579) ;
  color: white;
  border-radius: 20%;
}

/* Post Image */
.post-img {
  display: flex;
  padding: 8px 8px 8px 66px;
  justify-content: center;
  align-items: center;
}

.post-img img{
  display: flex;
  border-radius: 6px;
  width: 100%;
  max-width: 585px;
}

/* Labels */
.lable {
  height: 24px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  background-color: var(--lable-bg-color);
  color: var(--lable-text);
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: relative;
}

.lable a {
  color: inherit;
}

.lable .pf-hover {
  color: var(--color-text-primary);
  font-size: var(--font-size-base);
  font-weight: normal;
  top: 30px;
}

.lable .pf-hover::before {
  top: -10px;
  height: 10px;
}

.lable:hover .pf-hover,
.lable .pf-hover:hover {
  display: flex;
  flex-direction: column;
}

.verify svg {
  width: 20px;
  height: 20px  
}


/* Post Footer */
.post-footer {
  padding: 0 16px 0 66px;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.post-btns {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.like-btn {
  gap: 8px;
  align-items: center;
  font-size: 14px;
  display: flex;
  padding: 4px 6px 4px 6px;
  border-radius: var(--border-radius-pill);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.like-btn:hover {
  color: oklch(0.637 0.237 25.331);
}

.like-btn svg {
  width: 20px;
  height: 20px;
}

.reply-btn {
  align-items: center;
  font-size: 14px;
  display: flex;
  padding: 4px 8px 4px 8px;
  border-radius: var(--border-radius-pill);
}

.post-durations {
  opacity: 0.5;
}

.post-durations:hover {
    opacity: 1;
}
/* Post Footer */

/* Post */

/* Right Side Bar */
.right-side-bar {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
  max-width: 341px;
}

/* Search Bar */
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar span {
  position: absolute;
  left: 12px;
  display: flex;
  align-items: center;
  color: gray;
}

.search-bar input {
  background-color: oklch(0.97 0 0);
  border-radius: var(--border-radius-pill);
  padding: 8px 12px 8px 36px;
  width: 100%;
  border: none;
}

.search-bar input:focus + span {
  color: #0066ff;
}

/* Ad Banner */
.ad{
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 12px;
}

.ad h3, .new-project h3 ,.streak h3 {
  font-weight: 700;
  line-height: 28px;
  font-size: 18px;
  padding: 12px 16px 0px 16px;
}

.ad-body {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 16px 16px;
  gap: 10px;
}

.join-now {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 40px;
  font-weight: 600;
  background-color: var(--color-text-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-pill);
  padding: 8px 12px 8px 12px;
  width: 100%;
  border: none;
}

/* New Project Card */
.new-project,.streak  {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--color-border);
}

.new-project img {
  margin-top: 4px;
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius);
}

.new-project-body {
  border-radius: 12px;
  display: flex;
  gap: 5px;
  align-items: flex-start;
  flex-direction: row;
  padding: 8px;
  margin: 0px 8px 0px 8px;
}

.new-project-body p {
  display: inline-flex;
  align-items: start;
}

.lyrics-content {
  font-size: 14px;
  align-items: start;
  display: flex;
  flex-direction: column;
}

.lyrics-content p {
  margin: 0;
}

.show-more-btn {
  border-radius: 12px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  opacity: 0.6;
  margin: 0px 8px 8px 8px;
}

/* Streak Card */
.streak{
  display: flex;
  flex-direction: column;
}

.streak-body {
  width: 100%;
  border-radius: var(--border-radius-pill);
  padding: 8px 16px 0px 16px; 
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.streak-body:last-child {
  padding-bottom: 16px;
}

.streak-pf {
  display: flex;
  gap: 6px;
  flex-direction: row;
  align-items: center;
}

.streak-pf img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
/* Streak Card */

/* Right Side Bar */

.streak-lable {
  font-size: 12px;
  color: #7c2d12;
  display: flex;
  align-items: center;
  height: 24px;
  background-color: #ffedd5;
  padding: 4px 8px 4px 8px;
  border-radius: 50px;
}

/* Bottom Nav */
.btn-nav {
  position: sticky;
  bottom: 0;
  height: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--btn-primary-bg);
  border-top: 1px solid var(--color-border);
  padding: 8px;
}

.btn-nav a {
  color: var(--color-text-primary);
}

.btn-nav svg {
  width: 28px;
  height: 28px;
}

/* Pop Up */

/* Pop Up Overlay */
.pop-up-background {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

/* Pop Up Container */
.pop-up {
  position: relative;
  width: 672px;
  height: 870px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 99vh;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 24px;
  padding: 32px 32px 40px 32px;
}

/* Close Button */
.pop-up-close-btn {
  position: absolute;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color:oklch(97% 0 0);
}

.pop-up-close-btn:hover{
background-color: oklch(92.2% 0 0);
}

.pop-up-close-btn svg {
  width: 32px;
  height: 32px;
  color: oklch(55.6% 0 0);
}

/* Logo Header */
.pop-logo-header {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pop-logo-header img {
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius);
}

.pop-logo-header span {
  font-size: 24px;
  font-weight: 800;
}

.pop-logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
}

.pop-logo-title h3 {
  width: 512px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

/* Logo Body */
.pop-logo-body{
  width: 512px;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pop-logo-body p {
  display: flex;
  font-weight: 300;
  line-height: 35px;
  align-items: center;
}

/* Pop Up Buttons */
.pop-logo-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.pop-logo-btns button {
  cursor: pointer;
  padding: 8px 16px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: var(--border-radius-pill);
}

.join-btn {
  background-color: var(--color-primary);
}

.join-btn:hover {
filter: brightness(0.9);
}

.login-btn {
  background-color: oklch(92.2% 0 0);
}

.login-btn:hover {
filter: brightness(0.9);
}

/* Member Info */
.member-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.member-info-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.member-info-img img {
  width: 32px;
  height: 32px;
  border-radius: 50%; 
  outline: 2px solid var(--btn-primary-bg);
}

.member-info-img img:nth-child(2) {
  margin-left: -4px;
}

.member-info-img img:nth-child(3) {
  margin-left: -4px;
}

.member-info-img img:nth-child(4) {
  margin-left: -4px;
}

.member-info-img img:nth-child(4) {
  margin-left: -4px;
}

.member-info-img img:nth-child(6) {
  margin-left: -4px;
}

.member-info-img img:nth-child(7) {
    margin-left: -4px;
}

.member-info-img img:nth-child(8) {
    margin-left: -4px;
}

.member-info-img img:nth-child(9) {
    margin-left: -4px;
}

/* Feature Boxes */
.pop-ups-boxs {
  width: 608px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.pop-up-box {
  width: 296px;
}

.pop-up-box-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  gap: 5px;
}

.sidebar-invisible {
    width: 341px;
}

/* Responsive */
@media (max-width: 768px) {
  .right-side-bar {
    display: none;
  }
  .post-contents {
    width: 100%;
  }
  .pop-up {
    width: 90vw;
    height: auto;
    padding: 24px;
  }
  .pop-ups-boxs {
    width: 100%;
    flex-direction: column;
  }
  .pop-up-box {
    width: 100%;
  }
}
@media (max-width: 639px) {
  .sidebar {
    display: none;
  }

  .post-contents {
    width: 100%;
  }

  .btn-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
} 